{% extends "@EasyAdmin/default/edit.html.twig" %}

{% block main %}

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sit et, dolore, possimus eum enim minima exercitationem, beatae ad eius iste sunt. Ad placeat facilis voluptate delectus aliquid laboriosam labore.

    {% block entity_form %}
        {{ form_start (form) }}
          <div class="row">
              <div class="col-sm-4">
                  {{ form_row (form.name) }}
              </div>
              <div class="col-sm-4">
                  {{ form_row (form.slug) }}
              </div>
          </div>
        {{ form_end (form) }}
    {% endblock %}

{% endblock %}